.content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.content__timer{
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    border: solid gainsboro 1px;
    padding: 10px;
    min-width: 100px;
}